$primary-color: #c9ada7;
$secondary-color: #f2e9e4;
$tertiary-color: #9a8c98;
$head-font: "Dosis";
$first-font: "Montserrat", sans-serif;
$second-font: "Oleo Script", cursive;
$trial-font: "Questrial", sans-serif;

$break-sml: 640px;
$break-mid: 1007px;

@mixin button-style {
  margin: 0px 5px;
  font-family: $head-font;
  list-style-type: none;
  background-color: #4a4e69;
  padding: 0.5em 0.7em;
  border-radius: 10px;
}

@mixin bar-setup {
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 20px;
  align-items: center;
}

html,
body {
  height: 100%;
  background-color: $secondary-color;
  margin: 0;
}

header,
footer {
  @include bar-setup;
}

header h1 {
  margin: 0;
  font-family: $head-font;
  font-size: 3rem;
  padding: 0 0 0 40px;
}

h2 {
  font-family: $trial-font;
  font-size: 2.8rem;
}

p {
  font-family: $first-font;
  font-size: 1.1em;
}

hr {
  margin: 20px 0;
  width: 100%;
}

button {
  background-color: #4a4e69;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 2rem;
  font-family: $head-font;
  letter-spacing: 2px;
}

.button {
  display: block;
  margin: 40px auto;
  width: 90%;
  height: 80px;
  cursor: pointer;
  transition: box-shadow 0.1s linear;
  &:hover {
    box-shadow: 0 10px 0 rgba(0, 0, 0, 0.2);
    background-color: #22223b;
  }
}

article a {
  text-decoration: none;
}

nav {
  margin: 0;
  ul {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    padding-inline-start: 0px;
    a {
      text-decoration: none;
      color: #fff;
      li {
        @include button-style;
        &:hover {
          background-color: $tertiary-color;
          > a {
            color: #000;
          }
        }
      }
    }
  }
}

.current_page {
    background-color: $tertiary-color;
}

#left_sec,
#right_sec {
  width: 50%;
}

#right_sec {
}

#left_sec {
  padding: 70px 70px 70px 60px;
}

#aboutme #left_sec {
  border: 0px;
}

#right_sec {
  padding: 0 20px 0 40px;
  border-left: 2px solid #000;
}
#left_sec img {
  width: 100%;
  max-width: 385px;
}

#logo_flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  p {
    width: 90%;
    margin: 0 0 30px 20px;
    font-size: 0.8em;
    text-align: center;
  }
}

#right_sec img {
  width: 100%;
}

#logo_flex img {
  width: 90%;
  padding: 0 0 5px 20px;
}

#sml_comps img {
  width: 100%;
}

footer {
  margin-bottom: 20px;
  font-family: $head-font;
}

.mob_nav img {
  width: 30px;
}

#socials a {
  margin: 10px;
}

// inner page styling

.sml_logo {
  width: 110px;
  position: absolute;
}

.inner_page h1 {
  margin: 0 0 0 90px;
  font-size: 2.1em;
}

// blog page specific styling

#blog_list {
  flex-wrap: wrap;
}

#blog_list section {
  margin: 20px 50px;
  width: 33%;
}

#blog_list span, .blog span {
  @include button-style;
  margin: 0;
  align-self: flex-end;
  a {
    color: $secondary-color;
    &:hover {
        color: $tertiary-color;
    }
  }
}

#blog_list img {
  width: 100%;
}

.blog {
    padding: 0 20px;
    img {
        width: 100%;
    }
}

// contact page specific styling

label,
input,
textarea {
  display: block;
}

input,
textarea {
  margin: 0 0 20px 0;
  width: 85%;
}

// about page specific images

// media query for smaller screens

@media screen and (max-width: $break-sml) {
  header {
    justify-content: center;
    flex-direction: column;
  }
  header h1 {
    padding: 0 0 20px 0;
  }
  h2 {
    text-align: center;
  }
  .full_nav {
    display: none;
  }
  nav ul {
    justify-content: center;
    padding: 0;
  }
  nav ul a li {
    margin: 5px;
    padding: 0.8em 0.8em;
    border-radius: 10px;
  }
  main article {
    flex-direction: column;
  }

  #socials img {
    width: 30px;
  }

  #left_sec {
    width: 40%;
    padding: 20px;
  }
  #aboutme #left_sec {
    width: 75%;
  }
  #right_sec,
  #aboutme #mid_sec,
  #aboutme #right_sec {
    width: 75%;
    border-left: 0px solid #000;
    border-top: 1px solid #000;
  }
  #aboutme #mid_sec {
    padding-bottom: 20px;
  }
  footer {
    padding: 10px 40px;
    flex-direction: column;
  }

  //blog list styling for small screens

  #blog_list section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: 0 0 50px 0;
    p {
      text-align: justify;
    }

    // contact page styling for small screens
  }

  form {
    margin-top: 60px;
  }
  .sml_logo {
    display: none;
  }
  .inner_page h1 {
    margin: 0;
  }
}

main article {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// media query for mid size screens

@media screen and (min-width: $break-sml) and (max-width: $break-mid) {
  .mob_nav {
    display: none;
  }
  #socials img {
    width: 50px;
  }
  .sml_logo {
    top: 8px;
  }

  #aboutme {
    align-items: flex-start;
  }
  #logo_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
  }
  #aboutme #left_sec,
  #aboutme #mid_sec,
  #aboutme #right_sec {
    width: 33%;
    margin: 0 20px;
    padding: 0 20px;
    border-left: 1px solid #000;
  }
}

// media query for large size screens

@media screen and (min-width: $break-mid) {
  .mob_nav {
    display: none;
  }
  body {
    width: 85%;
    margin: 0 auto;
  }
  #socials img {
    width: 50px;
  }
  .sml_logo {
    top: 6px;
  }

  #aboutme {
    align-items: flex-start;
  }
  #logo_flex {
    // height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
  }
  #aboutme #left_sec,
  #aboutme #mid_sec,
  #aboutme #right_sec {
    width: 33%;
    margin: 0 20px;
    padding: 0 0 0 20px;
    border-left: 1px solid #000;
  }
}
